<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SH SHOP - Login</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
			function branchRegister(){
				 if (document.getElementById('inputBranchName').value == '') {
					alert("지점명을 입력하세요");
					return false;
				}  
				if (document.getElementById('inputBranchTel').value == '') {
					alert("지점 전화번호를 입력하세요");
					return false;
				} 
				if (document.getElementById('inputBranchAddr').value == '') {
					alert("지점 주소를 입력하세요");
					return false;
				} 
				if (document.getElementById('inputManagerName').value == '') {
					alert("매니저 이름을 입력하세요");
					return false;
				} 
				if (document.getElementById('inputManagerHp').value == '') {
					alert("매니저 전화번호를 입력하세요");
					return false;
				}
						
				let form = {};
					let arr = $("#branchRegister").serializeArray();
					arr.forEach( data => {
						form[data.name] = data.value;
					});
					console.log(form) 
					
					$.ajax({
						url : "/shop/branchRegister", type :"post",
						data : JSON.stringify(form),
						contentType : "application/json; charset=utf-8",
						dataType : "json",
						success : function(result){
							console.log("통신 성공");
							console.log(result);
							if(result == '1'){
								 alert("지점 등록 성공");
						 		location.href="/shop/branchList";
							}else if(result == '0'){
								alert("지점 등록 실패");
						 		location.href="/shop/branchRegister";
							}
						},
						error : () => {
						alert("통신 문제 발생")
						}
					})
			}
			
		</script>
 
</head>
    <body class="bg-info">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">지점 등록</h3></div>
                                    <div class="card-body">
                                        <form id="branchRegister">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputBranchName" name="shopName" type="text" placeholder="Enter your id" />
                                                        <label for="inputBranchName">지점명</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputBranchTel" name="shopTel" type="text" placeholder="Enter your last pw" />
                                                        <label for="inputBranchTel">지점 전화번호</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputBranchAddr" type="text" name="shopAddr" placeholder="Enter your name" />
                                                <label for="inputBranchAddr">지점 주소</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputManagerName" name="managerName" type="text" placeholder="Enter your branchName" />
                                                        <label for="inputManagerName">매니저 이름</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputManagerHp" name="managerHp" type="text" placeholder="Confirm password" />
                                                        <label for="inputManagerHp">매니저 전화번호</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="button" onclick="branchRegister()" >지점 등록</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="branchList">지점 목록으로 이동</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>