<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

	<main layout:fragment="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">개인정보</h3>
						</div>
						<div class="card-body">
							<form action="#" method="post">
								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="inputFirstName" name="memberId" type="text"
												 th:value="${dto.memberId}" readonly />
											<label for="inputFirstName">아이디</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<input class="form-control" id="inputLastName" name="memberPw" type="password"
												 th:value="${dto.memberPw}" readonly />
											<label for="inputLastName">비밀번호</label>
										</div>
									</div>
								</div>
								<div class="form-floating mb-3">
									<input class="form-control" id="inputEmail" type="text" name="memberName"
										 th:value="${dto.memberName}" readonly />
									<label for="inputEmail">이름</label>
								</div>
								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="inputPassword" name="shopNo" type="text"
												 th:value="${dto.shopNo}" readonly />
											<label for="inputPassword">지점명</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="inputPasswordConfirm" name="authType"
												type="text"  th:value="${dto.memberName}" readonly />
											<label for="inputPasswordConfirm">관리자 등급</label>
										</div>
									</div>
								</div>
								<div class="mt-4 mb-0">
									<div class="d-grid"><input class="btn btn-info btn-block" type="submit" value="정보수정">
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-center py-3">
							<div class="small"><a href="main">메인으로 이동</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</html>