<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BranchMapper">	
	<select id="branchList" resultType="map">
		select 
			* 
		from sh_shop
	</select>
	
	<select id="branchShopNo" resultType="int">
		select 
			substr(max(A.shop_no), -4, 4) 
		from sh_shop A;
	</select>
	
	<insert id="branchRegister">
		insert into 
			sh_shop(shop_no, shop_name, shop_tel, shop_addr, manager_name, manager_hp) 
		values(#{shopNo}, #{shopName}, #{shopTel}, #{shopAddr}, #{managerName}, #{managerHp})
	</insert>
	
	<select id="branchInfo" resultType="map">
		select 
			* 
		from sh_shop 
		where shop_no=${shopNo}
	</select>
	
	<update id="branchModiDo">
		update sh_shop 
			set shop_name=#{shopName}, shop_tel=#{shopTel}, shop_addr=#{shopAddr}, 
				manager_name=#{managerName}, manager_hp=#{managerHp} where shop_no=#{shopNo}
	</update>
	
	<delete id="branchDelete">
		delete from sh_shop where shop_no=${shopNo}
	</delete>

</mapper>