<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

	<select id="productAllList" resultType="map">
		select A.*,
			(select code_desc1 from sh_code B where A.item_category =
				B.code_no and B.code_type ='item_category') as item_category_desc,
			(select code_desc1 from sh_code B where A.item_state = B.code_no and
				B.code_type ='item_state') as item_state_desc
		from sh_product A
	</select>

	<insert id="productRegister" parameterType="map">
		insert into sh_product (item_no, item_name, item_price, item_category, item_desc, item_date, item_state)
		select concat('0', cast(max(item_no)+1 as char)),
					#{itemName}, #{itemPrice},
				(select code_no from sh_code where code_desc1 = #{itemCategory}),
					#{itemDesc}, now(),
				(select code_no from sh_code where code_desc1 = #{itemState})
		from sh_product
			where item_category = (select code_no from sh_code where code_desc1 = #{itemCategory})
	</insert>
	
	<select id="productModifyPage" resultType="map">
		select item_no, item_name, item_price, 
				(select code_desc1 from sh_code where code_type ='item_category' and code_no = P.item_category) as item_category, 
				item_desc, item_date, 
				(select code_desc1 from sh_code where code_type ='item_state' and code_no = P.item_state) as item_state  
		from sh_product P where item_no=#{itemNo}
	</select>
	
	<update id="productModify">
		update sh_product set item_name=#{itemName}, item_price =${itemPrice},
			item_category = (select code_no from sh_code where code_type ='item_category' and code_desc1 =#{itemCategory}),
			item_desc = #{itemDesc},
			item_state = (select code_no from sh_code where code_type ='item_state' and	code_desc1 = #{itemState})
		where item_no = #{itemNo}
	</update>

	<select id="stockList" resultType="map">
		select ss.*, sp.item_price ,
			(select code_desc1 from sh_code sc where code_type='item_category' and code_no = sp.item_category) as item_category,
			(select code_desc1 from sh_code sc where code_type='item_state' and code_no = sp.item_state) as item_state
		from sh_stock ss, sh_product sp
			where shop_no =#{shopNo} and ss.item_no = sp.item_no
		order by item_cnt desc, item_no asc
	</select>
	
	<select id="productGetList">
		SELECT sp.*, sc1.code_desc1 as code_category , sc2.code_desc1 as code_state 
			FROM sh_product sp
		LEFT JOIN sh_stock ss ON sp.item_no = ss.item_no AND ss.shop_no = #{shopNo}
			LEFT JOIN sh_code sc1 ON sc1.code_type = 'item_category' AND sc1.code_no = sp.item_category
		LEFT JOIN sh_code sc2 ON sc2.code_type = 'item_state' AND sc2.code_no = sp.item_state
			WHERE ss.item_no IS NULL 
		order by sp.item_no asc
	</select>

	<select id="itemCategory" resultType="map">
		select code_no, code_desc1
		from sh_code
		where code_type ='item_category'
	</select>

	<select id="itemState" resultType="map">
		select code_no,code_desc1
		from sh_code
		where code_type ='item_state'
	</select>
	
	<update id="stockCntModi">
		update sh_stock
			set item_cnt=${itemCnt}, input_date=now()
		where item_no =#{itemNo} and shop_no=#{shopNo}
	</update>
	
	<insert id="itemCntModiDo">
		insert into 
			sh_stock (item_no, shop_no, item_cnt, input_date)
		values
			(#{itemNo}, #{shopNo}, ${itemCnt}, now())
	</insert>

</mapper>