<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ShopMapper">
	<resultMap id="member" type="com.example.demo.DTO.ShMemberDTO">
		<id property="memberId" column="member_id"/>
		<result property="memberPw" column="member_pw"/>
		<result property="shopNo" column="shop_no"/>
		<result property="authType" column="auth_type"/>
		<result property="memberName" column="member_name"/>
	</resultMap>
	
	<select id="getInfo" resultMap="member">
		select * from sh_member where id=#{id}
	</select>
	
	<insert id="register">
		insert into sh_member(member_id, member_pw, member_name, shop_no, auth_type)
		values(#{memberId}, #{memberPw}, #{memberName}, #{shopNo}, #{authType})
	</insert>
	
	
	<resultMap type="com.example.demo.DTO.ShShopDTO" id="shop">
		<id property="shopNo" column="shop_no"></id>
		<result property="ShopName" column="shop_name"/>
		<result property="shopTel" column="shop_tel"/>
		<result property="shopAddr" column="shop_addr"/>
		<result property="managerName" column="manager_name"/>
		<result property="managerHp" column="manager_hp"/>
	</resultMap>
	
	<insert id="branchRegister">
		insert into sh_shop(shop_no, shop_name, shop_tel, shop_addr, manager_name, manager_hp) 
		values(#{shopNo}, #{ShopName}, #{shopTel}, #{shopAddr}, #{managerName}, #{managerHp})
	</insert>
	
	<resultMap type="com.example.demo.DTO.ShProductDTO" id="product">
	
	</resultMap>
	
	<insert id="productRegister">
		insert into sh_product (item_no, item_name, item_price, item_category, item_desc, item_state)
		values(#{itemNo}, #{itemName}, #{itemPrice}, #{itemCategory}, #{itemDesc}, #{itemState})
	</insert>

</mapper>