<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ShopMapper">
	<resultMap id="member" type="com.example.demo.DTO.ShMemberDTO">
		<id property="memberId" column="member_id"/>
		<result property="memberPw" column="member_pw"/>
		<result property="shopNo" column="shop_no"/>
		<result property="authType" column="auth_type"/>
		<result property="memberName" column="member_name"/>
	</resultMap>
	
	<select id="getInfo" resultMap="member">
		select * from sh_member where id=#{id}
	</select>
	
	<insert id="register">
		insert into sh_member(member_id, member_pw, member_name, shop_no, auth_type)
		values(#{memberId}, #{memberPw}, #{memberName}, #{shopNo}, #{authType})
	</insert>
	
</mapper>