<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
	<main layout:fragment="content">
		<div class="container-fluid px-4">
			<h1 class="mt-4">재고 목록</h1>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fa-solid fa-cubes-stacked"></i>
					<a href="productRegister" style="text-decoration: none; color: black;"> 재고 등록</a>
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>item_no</th>
								<th>item_name</th>
								<th>item_price</th>
								<th>item_category</th>
								<th>item_date</th>
								<th>item_state</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${list}">
								<td th:text="${list['item_no']}">상품번호</td>
								<td th:text="${list['item_name']}">상품명</td>
								<td th:text="${list['item_price']}">상품가격</td>
								<td th:text="${list['item_category']}">카테고리</td>
								<td th:text="${list['item_date']}">등록날짜</td>
								<td th:text="${list['item_state']}">상태</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>item_no</th>
								<th>item_name</th>
								<th>item_price</th>
								<th>item_category</th>
								<th>item_date</th>
								<th>item_state</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</main>
</html>