<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
	<main layout:fragment="content">
		<div class="container-fluid px-4">
			<h1 class="mt-4 mb-4">판매 등록</h1>
			
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					DataTable Example
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>item_no</th>
								<th>item_name</th>
								<th>item_price</th>
								<th>item_category</th>
								<th>item_date</th>
								<th>item_state</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Name</th>
								<th>Addr</th>
								<th>Tel</th>
								<th>manager</th>
								<th>Start date</th>
								<th>????</th>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td><input size="45" type="text" placeholder="상품번호 입력" name="#"></td>
								<td>상품명</td>
								<td><input size="10" type="text" placeholder="상품 수량" name="#"></td>
								<td>카테고리</td>
								<td>등록날짜</td>
								<td>상태</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</html>