<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 <script>
	 function loginChk(){
		 
		 let inputId = document.getElementById('inputId').value;
		 
		 if( inputId === null || inputId === undefined || inputId === "" ){
			 alert("아이디를 입력하세요");
			 // location.href="/shop/login";
			 // 스크립트로 값 초기화 후 리턴
			 return;
		 }
		 
		 if( document.getElementById('inputPw').value == ''){
			 alert("비밀번호를 입력하세요");
			 location.href="/shop/login";
		 }
		 
		 
		let form = {};
		let arr = $("#loginChk").serializeArray();
		arr.forEach( data => {
			form[data.name] = data.value;
		});
		console.log(form) //{id: '1', pw: '1'}
		
		$.ajax({
			url : "/shop/login_chk", type : "post",
			data : JSON.stringify( form ),
			contentType : "application/json; charset=utf-8",
			dataType : "json",
			success : function(result){
				console.log("통신 성공");
				console.log(result);
				if(result == '1'){
					 alert("로그인 성공");
			 		location.href="/";
				}else if(result == '2'){
					alert("비밀번호 틀림");
			 		location.href="/shop/login";
				}else if(result == '0'){
					alert("아이디가 없음");
			 		location.href="/shop/login";
				}
			
			},
			error : () => {
				alert("통신 문제 발생")
			}
		})
	}
 </script>
 
 
</head>
<body class="bg-info">
 <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form id="loginChk">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputId" name="id" type="text" placeholder="input Id" />
                                                <label for="inputEmail">input Id</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPw" name="pw" type="password" placeholder="input Password" />
                                                <label for="inputPassword">input Password</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">Forgot Password?</a>
                                                <button class="btn btn-info" type="button" onclick="loginChk()">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>

</body>
</html>